*{
  padding: 0 0;
  margin: 0 0;
}

body {
  overflow: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  text-align: center;
}

#gameResultStatement{
  color: red;
  padding: 5px;
}

header button {
  margin: 10px auto;
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

header button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

header button:hover span {
  padding-right: 25px;
}

header button:hover span:after {
  opacity: 1;
  right: 0;
}

header button#start {
  background-color: #f4511e;
  color: #FFFFFF;
}

header h1{
  text-align: center;
}

div.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
div.board{
  width: 100%;
  margin: 0 auto;
}

div.board div.tile {
  width: 20%;
  height: 20%;
  border: 5px solid rgba(255, 0, 0, 0.1);;
  background-color: green;
  float: left;
  box-sizing: border-box;
}

div.board > div.tile  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

div.board > div.tile > div.tile--inside{
  width: 33%;
  height: 33%;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

div.board > div.tile > div.tile--inside i {
  cursor: pointer;
}
/*test block doors*/
div.board > div.tile:not(i.heroInside) > div.tile--inside i {
  /*pointer-events: none;*/
}
/*test block doors*/
div.board > div.tile > div.tile__doors--enter {
  color: #fff;
}

div.board > div.tile > div.tile__doors--exit {
  color: #fff;
}

.doorBlocked {
  pointer-events: none;
  opacity: 0.25;
}

.pathDoors{
  cursor: pointer;
}

.hidden{
  pointer-events: none;
  opacity: 0.0;
}

footer {
  padding: 20px 20px;
}

footer > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

footer a {
    text-decoration: none;
}

footer > ul > li > a {
  font-size: 200%;
}

.modal-content .modal-header{
  border-bottom: 0;
  padding: 1rem 1rem 0 1rem;
}

.modal-content .modal-body {
  height: 21vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  div.board > div.tile > div.tile__centre > i.hero{
    color: orange;
    font-size: 3vw;
  }

  div.board > div.tile > div.tile__centre > i.monster{
    font-size: 5vw;
  }
}

@media screen and (min-width: 801px) {
  div.board > div.tile > div.tile__centre > i.hero{
    color: orange;
    font-size: 140%;
  }

  div.board > div.tile > div.tile__centre > i.monster{
    font-size: 155%;
  }
}
