*{
  padding: 0 0;
  margin: 0 0;
}

body {
  overflow: auto;
}

header {
  text-align: center;
}

header button {
  margin: 10px auto;
}

header h1{
  text-align: center;
}

div.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
div.board{
  width: 100%;
}

div.board div.tile {
  width: 20%;
  border: 5px solid rgba(255, 0, 0, 0.1);;
  background-color: green;
  height: 50px;
  float: left;
  box-sizing: border-box;
}

div.board > div.tile  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

div.board > div.tile > div.tile--inside{
  width: 33%;
  height: 33%;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

div.board > div.tile > div.tile--inside i {
  cursor: pointer;
}
/*test block doors*/
div.board > div.tile:not(i.heroInside) > div.tile--inside i {
  /*pointer-events: none;*/
}
/*test block doors*/
div.board > div.tile > div.tile__doors--enter {
  color: #fff;
}

div.board > div.tile > div.tile__doors--exit {
  color: #fff;
}

div.board > div.tile > div.tile__centre > i.hero{
  color: orange;
  font-size: 150%;
}

div.board > div.tile > div.tile__centre > i.monster{
  font-size: 200%;
}
