* {
  padding: 0 0;
  margin: 0 0;
}
body {
  overflow: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #ddc7a6;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #ddc7a6, #9a8b74);
}
body header {
  text-align: center;
}
body header h1 {
  text-align: center;
}
body header #gameResultStatement {
  color: red;
  padding: 0.33rem;
}
body header button {
  margin: 0.5rem auto;
  display: inline-block;
  border-radius: 0.25rem;
  border: none;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body header button#start {
  background-color: #f4511e;
  color: #ffffff;
  border: 1px solid #000;
  width: 100px;
}
body header button#runTest {
  background-color: #ffffff;
  color: #f4511e;
  border: 1px solid #000;
  width: 200px;
}
body header button:hover span {
  padding-right: 1.6rem;
}
body header button:hover span:after {
  opacity: 1;
  right: 0;
}
body header button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
body header button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.6rem;
  transition: 0.5s;
}
body .container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}
body .container .board {
  width: 100%;
  margin: 0 auto;
}
body .container .board .tile {
  width: 25%;
  height: 25%;
  background-color: #e3d2b7;
  background-image: url("../../pics/darkTileBasic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
body .container .board .tile.x3.y1,
body .container .board .tile.x1.y3 {
  background-image: url("../../pics/darkTileThumbClosed.png");
}
body .container .board .tile.x4.y2,
body .container .board .tile.x3.y3 {
  background-image: url("../../pics/darkTileThumbOpen.png");
}
body .container .board .tile.x3.y4 {
  background-image: url("../../pics/grayTileFireAndWaterAndBridges.png");
}
body .container .board .tile.x4.y3 {
  background-image: url("../../pics/grayTileFireAndWater.png");
}
body .container .board .tile[tiletype="finish"] {
  background-image: url("../../pics/darkTileTreasure.png");
}
body .container .board .tile .tile__centre > i.hero {
  color: orange;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
body .container .board .tile .tile__doors--enter {
  color: #fff;
}
body .container .board .tile .tile__doors--exit {
  color: #fff;
}
body .container .board .tile .doorBlocked {
  pointer-events: none;
  opacity: 0.25;
}
body .container .board .tile .tile--inside {
  width: 33%;
  height: 33%;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}
body .container .board .tile .tile--inside i {
  cursor: pointer;
  color: #000;
  background-color: gray;
  padding: 2px;
  border-radius: 4px;
}
body .container .board .tile .pathDoors {
  cursor: pointer;
}
body .container .board .tile .hidden {
  pointer-events: none;
  opacity: 0;
}
body .container footer {
  padding: 1.25rem 1.25rem;
}
body .container footer > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
body .container footer > ul > li > a {
  font-size: 200%;
}
body .container footer a {
  text-decoration: none;
}
body .modal-content .modal-header {
  border-bottom: 0;
  padding: 1rem 1rem 0 1rem;
}
body .modal-content .modal-body {
  display: block;
}
body .modal-content .modal-body--sectionOne {
  height: 21vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .modal-content .modal-exit {
  color: red;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: red;
}
@media screen and (max-width: 800px) {
  body div.board > div.tile > div.tile__centre > i.hero {
    font-size: 3vw;
  }
  body div.board > div.tile > div.tile__centre > i.monster {
    font-size: 5vw;
  }
}
@media screen and (min-width: 801px) {
  body div.board > div.tile > div.tile__centre > i.hero {
    font-size: 140%;
  }
  body div.board > div.tile > div.tile__centre > i.monster {
    font-size: 155%;
  }
}
